<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>write layout</title>

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/tiny-slider.css">
	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/flatpickr.min.css">
	<link rel="stylesheet" href="/css/glightbox.min.css">
	<link rel="stylesheet" href="/css/style.css">
</th:block>

<th:block layout:fragment="fonts">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
	<script th:src="@{/js/jquery.form.js}"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
</th:block>
</head>
<body>
	<th:block th:replace="fragments/writeHeader :: writeHeaderFragment"></th:block>
	<th:block layout:fragment="content"></th:block>
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>