<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<div th:fragment="footerFragment">
	<div class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="widget">
						<h3>About BTONE<span class="text-primary">.</span> </h3>
						<p>비티원은 다년간의 ITO 사업을 통한 기술축적과 know-How와 다양한 프로젝트 수행 경험을 바탕으로 빠르게 변하는 IT와 개발환경에 최적화된 기술을 제공하고 이를 기반으로 한 SI 컨설팅,솔루션 개발 및 서비스를 제공하고 있습니다.</p>
					</div> <!-- /.widget -->
					<div class="widget">
						<h3>Connect</h3>
						<ul class="list-unstyled social">
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-instagram"></span></a></li>
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-twitter"></span></a></li>
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-facebook"></span></a></li>
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-linkedin"></span></a></li>
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-pinterest"></span></a></li>
							<li><a href="http://www.bow-tech.co.kr/"><span class="icon-dribbble"></span></a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->
	
				<div class="col-lg-3">
					<div class="widget">
						<h3>Contact</h3>
						<address>서울시 성동구 연무장5가길 7, E동1207호 (성수동2가, 현대테라스타워)</address>
						<ul class="list-unstyled links mb-4">
							<li><a href="tel://11234567890">02)2223-2030</a></li>
							<li><a href="mailto:info@mydomain.com">jjang@bitione.com</a></li>
						</ul>
					</div> <!-- /.widget -->
				</div> <!-- /.col-lg-3 -->

			</div> <!-- /.row -->

			<div class="row mt-5">
				<div class="col-12 text-center">
					<p class="mb-0">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. <!-- License information: https://untree.co/license/ -->
					</p>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.site-footer -->

		<!-- Preloader -->
		<div id="overlayer"></div>
		<div class="loader">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>


		<script src="/js/bootstrap.bundle.min.js"></script>
		<script src="/js/tiny-slider.js"></script>
		<script src="/js/aos.js"></script>
		<script src="/js/navbar.js"></script>
		<script src="/js/counter.js"></script>
		<script src="/js/rellax.js"></script>
		<script src="/js/flatpickr.js"></script>
		<script src="/js/glightbox.min.js"></script>
		<script src="/js/custom.js"></script>
	</div>
</div>
</html>