<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BTONE_NOTICEBOARD</title>
<style type="text/css">
#th{
	font: 20px bold;
}
#table{
	width: 100%;
	margin-bottom: 30px;
}
#th, #td {
    border: 1px solid #444444;
    padding: 10px;
    width: 100%;
  }
#first_th{
	font: 30px bold;
	margin-bottom: 60px;
}

body td {
    display: block;
}

#board_content{
	border: 1px solid #444444;
    padding: 15px;
    width: 650px;
	max-width: calc(100% - 50%);
	overflow: hidden;
 	text-overflow: ellipsis;
  	white-space: nowrap;
  	height: 50px;
}



</style>
<script>
	
	$(document).ready(function(){
		var win = $(window);
		
		win.scroll(function(){
		
			if($(document).height() - win.height() == win.scrollTop()){
				$('#loading').show();
				
				$.ajax({
					url: '/boardOne',
					dataType: 'html',
					success: function(html){
						$('#posts').append(html);
						$('#loading').hide();
					}
				});
			}	
		});
	});
	
</script>
</head>
<div layout:fragment="content">
	<div class="hero overlay">
		<div class="img-bg rellax">
			<img src="/images/hero_2.jpg" alt="Image" class="img-fluid">
		</div>
		<div class="container">
			<div class="row align-items-center justify-content-start">
				<div class="col-lg-6" >
					<h1 class="heading" data-aos="fade-up" th:text="${cName}"></h1>
					<p class="mb-5" data-aos="fade-up" th:text="'어서오세요! ' + ${cName} + ' 게시판 입니다~'"></p>
				</div>
			</div>
		</div>		
	</div>
	<!-- th:each="selectBoard : ${list}" -->
	
	<div class="section">
		<div class="container">
			<div class="row align-items-stretch">
				<div class="col-12 mb-3">
					<div >
						
					</div>
					<h1 id="first_th"><a th:text="${cName} + '게시판'"></a></h1>
					<table id="table" th:each="list : ${list}">
					
						<tr>
							<th><a class="date" th:text="${list.createDate}"></a></th>
						</tr>
						<tr>
							<th><a th:text="'작성자 : ' + ${maskName}" ></a></th>
						</tr>
						<tr>
							<!-- <th id="th" th:text="'제목 : ' + ${list.boardTitle}"></th> -->
							<th>
							<a th:href="@{/board/{bno}(bno=${list.boardNo})}"><h2 th:text="${list.boardTitle}"></h2></a>
							</th>
						</tr>
						<tr>
							<td id="board_content" th:text="'내용 : ' + ${list.boardContent}"></td>
						</tr>
							<th> 
							<a class="date" th:text="'조회수 : ' + ${list.boardHits}" ></a>
							</th>
							
						<br><br><br>
					</table>
						<br><br>				
				</div>
				<center>
				<p id="loding">
				<img src="/images/loading.gif">
				</p>
				</center>
			</div>
		</div>
	</div>
	
</div><!--layout end  -->
</html>
