<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.btone.web.home.domain.board.mapper.BoardMapper">

	<insert id="addContent"
		parameterType="com.btone.web.home.domain.board.vo.Board" useGeneratedKeys="true" keyProperty="boardNo">
		insert into board (
		c_no,user_no,
		board_title,board_content,
		create_date, update_date, board_hits
		)
		values(
		#{cNo},#{userNo},#{boardTitle},#{boardContent},now(),now(),0
		)
	</insert>

	<insert id="addFile"
		parameterType="com.btone.web.home.domain.board.vo.BoardFile">
		insert into boardfile (
		file_no, board_no, file_origin_name, file_save_name
		) values(
		null, #{boardNo}, #{fileOriginName},#{fileSaveName}
		)
	</insert>


	<select id="selectBoard"
		resultType="com.btone.web.home.domain.board.vo.BoardVO">
		select
		b.board_no
		,b.c_no
		,c.c_name
		,b.user_no
		,u.user_name
		,b.board_title
		,b.board_content
		,b.create_date
		,b.update_date
		,b.board_hits
		from board b
		inner join
		category c
		on b.c_no = c.c_no
		inner
		join user u
		on b.USER_NO = u.USER_NO
		where b.C_NO = #{cNo}
		order by b.create_date desc;
	</select>


	<select id="findId" resultType="Integer">
		select max(board_no) from board
	</select>



	<select id="getBoardInfo" resultType="com.btone.web.home.domain.board.dto.infoDTO">
		SELECT B.BOARD_NO, B.BOARD_TITLE , B.BOARD_CONTENT, B.CREATE_DATE, B.BOARD_HITS, C.C_NAME , U.USER_ID
		FROM  BOARD B 
			LEFT OUTER JOIN CATEGORY C 
			ON B.C_NO = C.C_NO 
			LEFT OUTER JOIN USER U 
			ON B.USER_NO = U.USER_NO 
			WHERE B.BOARD_NO = #{bno}
	</select>


	<update id="updateHits" parameterType="int">
		UPDATE BOARD SET
		BOARD_HITS = BOARD_HITS + 1
		WHERE BOARD_NO = #{BNO}
	</update>

	<select id="selectCategory"
		resultType="com.btone.web.home.domain.board.vo.Category">
		select * from category
	</select>
	<update id="updateContent"
		parameterType="com.btone.web.home.domain.board.vo.Board">

		update board set
		c_no = #{cNo},
		board_title=#{boardTitle},
		board_content=#{boardContent},
		update_date = now()
		where
		board_no = #{boardNo}

	</update>
	<delete id="deleteContent" parameterType="int">
		delete from board where board_no = #{boardNo}
	</delete>

</mapper>